@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #e5e5e5;
  --foreground: #8c8c8d;
  --text-color: #8c8c8d;
  --text-header-color: #8c8c8d;
  --text-green-color: #d5ffe1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: rgb(45, 44, 44);
  --text-color-dark: #ededed;
  --text-header-color: white;
  --text-green-color-dark: #d5ffe1;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.thin-dots-bg {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
}
